$background: #fff;
$foreground: #191a23;
$accent: #51ff88;
$error: rgb(243, 108, 108);
$success: #a4e1a4;
$grey: #a7a7a7;
$grey-dark: #303030;
$border: 1px solid $grey;
$shadow: -4px 4px 0 0 $foreground;
$font-family-base: var(--font-space-grotesk);
$container-max-width: 1440px;
$container-padding-x: 20px;
$input-height: 40px;
$button-height: 40px;
$transition-duration: 0.05s;
$mobile: 599px;
$mobile-above: 600px;
$tablet: 1023px;
$tablet-above: 1024px;
$desktop: 1280px;
$desktop-above: 1281px;
$spacing: 8px;
$radius-small: 2px;
$form-spacing: 16px;
$header-height: 64px;
$footer-height: 350px;
